body{
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTltWH3Z24R2f6eo50X5f-c6RXHfQC6zYJWyksA0SANHZmyag2-eA) no-repeat center center fixed;
	background: aqua;
}
#content{
	width: 50%;
	margin: 20px auto;
	border: 1px solid #cbcbcb;
	background: aqua;
}

form{
	width: 50%;
	margin: 20px auto;
}
form div{
	margin-top: 5px;
}
#img_div{
	width: 80%;
	padding: 5px;
	margin: 15px auto;
	border: 1px solid #cbcbcb;
}
#img_div:after{
	content: "";
	display: block;
	clear: both;
}
img{
	float: left;
	margin: 5px;
	width: 300px;
	height: 140px;
}